---
layout: style
---

/* FORCE NAVBAR TEXT TO WHITE */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-shrink .navbar-brand,
.navbar-shrink .navbar-nav > li > a {
  color: #ffffff !important;
}
