<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/skill">Skills</a></li>
        <li><a href="{{ site.baseurl }}/activities">Extracurriculars</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/athletics">Athletics</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">I'm Asher Ader</div>
      <div class="intro-heading">IT'S NICE TO MEET YOU!</div>
      <a href="{{ site.baseurl }}/about" class="btn btn-xl">
        Learn more about me
      </a>
    </div>
  </div>
</header>
