<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">

    <!-- Close button -->
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="modal-body text-center">
            
            <!-- Title -->
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">

            <!-- Image -->
            <img src="img/portfolio/{{ post.img }}" 
                 class="img-responsive img-centered"
                 alt="{{ post.alt }}"
                 style="max-height:300px; margin: 0 auto 20px;">

            <!-- Description -->
            <p style="
              max-width: 600px;
              margin: 0 auto 25px;
              font-size: 16px;
              line-height: 1.6;
            ">
              {{ post.description }}
            </p>

            <!-- Optional bullet list (ONLY shows if you add fields) -->
            {% if post.role or post.dates or post.details %}
            <ul class="list-unstyled" style="max-width: 600px; margin: 0 auto 25px; font-size: 15px;">
              {% if post.role %}
                <li><strong>Role:</strong> {{ post.role }}</li>
              {% endif %}
              {% if post.dates %}
                <li><strong>Dates:</strong> {{ post.dates }}</li>
              {% endif %}
              {% if post.details %}
                <li><strong>Focus:</strong> {{ post.details }}</li>
              {% endif %}
            </ul>
            {% endif %}

            <!-- Close button -->
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
