<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <h2 class="section-heading">Athletics</h2>
                    <p class="section-subheading text-muted">
                        Varsity sports experience across multiple teams and schools.
                    </p>
                </div>
            </div>
            <div class="row">
               <div class="row text-center">

  <div class="col-sm-3">
    <div class="team-member">
      <h4>Varsity Indoor Track & Field</h4>
      <p class="text-muted">Co-Captain · Browning School</p>
      <p>One Season</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="team-member">
      <h4>Varsity Soccer</h4>
      <p class="text-muted">Browning School</p>
      <p>One Season</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="team-member">
      <h4>Varsity Outdoor Track & Field</h4>
      <p class="text-muted">Riverdale Country School</p>
      <p>One Season</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="team-member">
      <h4>Varsity Ice Hockey</h4>
      <p class="text-muted">Riverdale Country School</p>
      <p>One Season</p>
    </div>
  </div>

</div>

            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>
